{{>layouts/header}}
<div class="jumbotron">
    <h1>글수정</h1>
</div>

<form method="post" action="/articles/update/{{articleId}}" class="container mb-10">
    {{#article}}
        <div class="form-group row">
            <label class="col-sm-2">제목</label>
            <div class="col-sm-10">
                <input type="text" name="title" value="{{title}}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2">내용</label>
            <div class="col-sm-10">
                <input type="text" name="content" value="{{content}}" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2">조회수</label>
            <div class="col-sm-10">
                <input type="text" name="cnt" value="{{cnt}}" readonly="readonly" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2">최종수정시각</label>
            <div class="col-sm-10">
                <input type="text" name="modifiedDate" value="{{modifiedDate}}" readonly="readonly" class="form-control">
            </div>
        </div>
    {{/article}}
    <button type="submit" class="btn btn-info btn-block">
        저장
    </button>


    <button type="submit" onclick="location.href='/articles'" class="btn btn-primary btn-block">
        목록으로
    </button>
    <a  href="/articles/{{articleId}}/delete" class="btn btn-danger btn-block">
        삭제
    </a>

</form>

<div class="container mt-5px">


</div>


{{>layouts/footer}}